.img-perfil{
    background-image: url(https://pps.whatsapp.net/v/t61.24694-24/431246369_819407723463851_6751091346723312976_n.jpg?stp=dst-jpg_s96x96&ccb=11-4&oh=01_Q5AaION_GGq4l0n4DOCXYN5jDkEKK7pcZKwWtcr_qCtd1RwF&oe=66DCBF85&_nc_sid=5e03e0&_nc_cat=110);
width: 180px;
height: 180px;
border-radius: 100px;
background-repeat: no-repeat;
background-size: 200px;
float: inline-start;
}
.nome{
    align-content:center ;
    text-align: center;
    height: 180px;
    font-size: 3vh;
    

}
h1{
    background-color: antiquewhite;
}
.data1{
    float: inline-start;
}
.experiencia1{

    align-content: center;
    text-align: center;
}
.data2{
    float: inline-start;
}
.experiencia2{
    align-content: center;
    text-align: center;
}
.img1{
    width: 20px;
}
.img2{
    width: 20px;
}
.img3{
    width: 20px;
}
